.border-pane{
    -fx-background-color: #FFFAFA;
}

.label{
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.text-field{
    -fx-padding: 12 15;
    -fx-border-color: dodgerblue;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-font-size: 14px;
}

.button{
    -fx-background-color: #00BFFF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 12 15;
    -fx-background-radius: 6;
}